/* ------------UC10------------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background-color: #f7f7f7;
}

.header {
    padding: 10px 0;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.addressBook-text {
    font: normal normal bold 2px/25px montserrat;
    text-align: left;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    color: #008cff;
    margin-right: 10px;
}
.addressBook-book {
    color: #42515f;
}

